<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - HyandrDos Inc.</title>
    <meta name="description" content="Websracper tool">
    <!-- <link rel="stylesheet" href="static/assets/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href= "{{ url_for('static',filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <!-- <link rel="stylesheet" href="static/assets/fonts/font-awesome.min.css">  -->
    <link rel="stylesheet" href= "{{ url_for('static',filename='assets/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href= "{{ url_for('static',filename='assets/mycss.css') }}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
        <div class="container"><a class="navbar-brand" href="/">HyandrDos Inc.</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1"></div>
        </div>
    </nav>
    <header class="masthead text-white text-center" style="background: url('https://lh6.googleusercontent.com/proxy/UIS873Bc7gwv76Y4uufFawubnoYsHm3NPC9nOHIJVmoYXnWH1fLAizIaAgArOQWgGezDFL74BhxKxGiKyaoXqaVPw9lqorMeOlucJyQJr9r5opzEwoQ1kazD-SE=s0-d')no-repeat center center;background-size: cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Search for your dream product</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form method="POST", action="/process">
                        {{ form.hidden_tag() }}
                        
                        <div class="form-row">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                            <div class="form-group">
                                {{ form.itemToFind(class="form-control form-control-lg ", placeholder="Enter name of product...") }}
                           
                            <!-- <div class="col-12 col-md-9 mb-2 mb-md-0"><input class="form-control form-control-lg" type="text" name="search_text" placeholder="Enter name of product..." autofocus=""></div> -->
                            </div>
                    </div>
                            <div class="col-12 col-md-3" style="color: rgb(99,75,75);">
                                <!-- <div class="btn btn-primary btn-block btn-lg" style="background: rgba(45,45,45,0.82);"> -->
                            <div class="form-group">
                                {{ form.submit(class="btn btn-primary btn-block btn-lg", style="background: rgba(45,45,45,0.82);", placeholder="Submit") }}
                            <!-- <div class="col-12 col-md-3" style="color: rgb(99,75,75);"><input class="btn btn-primary btn-block btn-lg" type="submit" name="submit_button" style="background: rgba(45,45,45,0.82);" value="Search"></div> -->
                            </div>
                            </div>

                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="amazon" autocomplete="on" name="amazon">
                            <label for="amazon" class="form-check-label">Amazon</label><br>
                            <input type="checkbox" class="form-check-input" id="tapaz" autocomplete="on" name="tapaz">
                            <label for="tapaz" class="form-check-label">TapAz</label><br>
                        </div>
                        
                        <div class="form-radio">
                            <input type="radio" id="AZN" name="currency" value="AZN">
                            <label for="AZN">AZN</label><br>
                            <input type="radio" id="USD" name="currency" value="USD">
                            <label for="USD">USD</label><br>
                        </div>
                        <div>
                            <label for="Filter">Filter by:</label>
                            <select name="Filter" id="Filter">
                            <option value="Price">Price</option>
                            <option value="Shipping">Shipping</option>
                            </select>
                        </div>
                        <div>
                            <label for="Order">Order:</label>
                            <select name="Order" id="Order">
                            <option value="Ascending">Ascending</option>
                            <option value="Descending">Descending</option>
                            </select>
                        </div>
                        <div class="col-sm-12 my-auto">
                        <div class="form-row">
                            <div class="col-2 col-md-4 mb-2 mb-md-0">
                            <div class="form-group">
                                {{ form.priceFrom(class="form-control form-control-lg ", placeholder="From") }}
                            </div>
                        </div>
                        <div class="col-2 col-md-4 mb-2 mb-md-0">
                            <div class="form-group">
                                {{ form.priceTo(class="form-control form-control-lg ", placeholder="To") }}
                            </div>
                        </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section>
        <!-- <h4>QQQQ<h4> -->
            <!-- {% block content %}
            {% endblock %} -->

    {% if isSearching %}
    <!-- <div class="container"> -->
        <div class = "row">
            <div class="col">
                <!-- <ul class="border"> -->
                {% for item1 in itemsAmazon %}
                <li>
                    <p><a href={{item1.url}}>{{item1.name}}</a>
                    <br> 
                    <br>{{item1.price}}
                    <br></p>
                </li>
                {% endfor %}
                <!-- </ul> -->
            </div>
            <div class="col">
                <!-- <ul class="border"> -->
                {% for item1 in itemsTapAz %}
                <li>
                    <p><a href={{item1.url}}>{{item1.name}}</a>
                    <br> 
                    <br>{{item1.price}}
                    <br></p>
                </li>
                {% endfor %}
                <!-- </ul> -->
            </div>
        </div>
    <!-- </div> -->
    {% endif %}
    </section>
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#">About</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Contact</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Terms of &nbsp;Use</a></li>
                        <li class="list-inline-item"><span>⋅</span></li>
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">© HyandrDos Inc. 2021. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 my-auto h-100 text-center text-lg-right">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script> -->
</body>

</html>